<form class="form mat-elevation-z8">
    <h1>Deletando Técnico</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input disabled [(ngModel)]="tecnico.nome" name="nome" maxlength="100" matInput placeholder="Ex. Nome Completo...">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input disabled [(ngModel)]="tecnico.cpf" name="cpf" maxlength="11" matInput placeholder="Ex. xxx.xxx.xxx-xx">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input disabled [(ngModel)]="tecnico.telefone" name="telefone" maxlength="11" matInput placeholder="Ex. (00) 0 0000-0000">
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent">DELETAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>

</form>